<h2>Settings</h2>

<div class="card card-block">
  <h4 class="card-title">Autocrypt</h4>
  <h6 class="card-subtitle text-muted">
    Autocrypt allows exchanging encrypted email.
  </h6>
  <%- unless @autocrypt.initialized? %>
    <%= button_to 'Enable Autocrypt...',
      user_autocrypt_path(@user),
      class: 'btn card-link btn-link',
      data: {confirm: 'Autocrypt is still experimental. Please only activate it on one device for this email address!'}
    %>
<%- else %>
  <p class='card-text card-block'>Autocrypt is enabled.<br/>
  <%- if @autocrypt.addresses_with_keys_available.any? %>
    You can send encrypted email to
    <%= @autocrypt.addresses_with_keys_available.to_sentence %>.
    <br/>
    <a data-toggle="collapse" data-target="#encryptToOthers" aria-expanded="false" aria-controls="encryptToOthers" href='#'>
      Encrypt to other contacts...
    </a>
  <%- else %>
    <a data-toggle="collapse" data-target="#encryptToOthers" aria-expanded="false" aria-controls="encryptToOthers" href='#'>
      Start encrypting to your contacts...
    </a>
  <%- end %>
    <div id="encryptToOthers" class="collapse">
      <ol>
        <li> Send an email to the contact you want to encrypt to. </li>
        <li> Tell them to enable autocrypt. Now they can encrypt to you. </li>
        <li> Once you received an email they send with autocrypt enabled you can also encrypt to them. </li>
      </ol>
    </div>

  </p>


  <a class="card-link debug" type="button" data-toggle="collapse" data-target="#configureAutocrypt" aria-expanded="false" aria-controls="configureAutocrypt" href='#'>
    Advanced Configuration...
  </a>

  <div id="configureAutocrypt" class="collapse">
    <div class="card card-block">
      <p>
      Autocrypt can indicate in the mails you send whether you would like to receive encrypted email or not. Encrypted email can only be read in this application.</p>
      <%= form_for @autocrypt, url: user_autocrypt_path(@user) do |f| %>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.radio_button :prefer_encrypt, :yes, class: "form-check-input" %>
            Prefer encrypted email.
            <p class="form-text text-muted">
            You only read your email in this application or you accept that you cannot read encrypted email elsewhere.
            </p>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.radio_button :prefer_encrypt, :notset, class: "form-check-input" %>
            No preference.
            <p class="form-text text-muted">
            Your contacts decide wether they want to encrypt email to you.
            </p>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.radio_button :prefer_encrypt, :no, class: "form-check-input" %>
            Prefer unencrypted email.
            <p class="form-text text-muted">
            You also read your email in a different application and only want to receive encrypted email when your contact insists on it.
            </p>
          </label>
        </div>
        <%= f.submit 'Save Settings' %>
      <%- end %>
    </div>
  </div>
<%- end %>
</div>

<%- if @autocrypt.initialized? %>
  <br/>
  <button class="btn btn-secondary debug" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Show Autocrypt Status
  </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-block">
      <pre>
<%= @autocrypt.status %>
      </pre>
    </div>
  </div>
<%- end %>
