<h2>Settings</h2>

<div class="card card-block">
  <h4 class="card-title">Autocrypt</h4>
  <h6 class="card-subtitle text-muted">
    Autocrypt allows exchanging encrypted email with other people who also have autocrypt enabled.
    Encrypted email you receive can only be read by you in this application.
  </h6>
  <%- unless @autocrypt.initialized? %>
    <%= button_to 'Enable Autocrypt...',
      user_autocrypt_path(@user),
      class: 'btn card-link btn-link'
    %>
<%- else %>
  <p class='card-text card-block'>Autocrypt is enabled.</p>
  <a class="card-link" type="button" data-toggle="collapse" data-target="#configureAutocrypt" aria-expanded="false" aria-controls="configureAutocrypt" href='#'>
    Advanced Configuration...
  </a>

  <div id="configureAutocrypt" class="collapse">
    <div class="card card-block">
      <p>
      Autocrypt can indicate in the mails you send whether you would like to receive encrypted email or not. Encrypted email can only be read in this application.</p>
      <%= form_for @autocrypt, url: user_autocrypt_path(@user) do |f| %>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.radio_button :prefer_encrypt, :yes, class: "form-check-input" %>
            Prefer encrypted email.
            <p class="form-text text-muted">
            You only read your email in this application or you accept that you cannot read encrypted email elsewhere.
            </p>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.radio_button :prefer_encrypt, :notset, class: "form-check-input" %>
            No preference.
            <p class="form-text text-muted">
            Your contacts decide wether they want to encrypt email to you.
            </p>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.radio_button :prefer_encrypt, :no, class: "form-check-input" %>
            Prefer unencrypted email.
            <p class="form-text text-muted">
            You also read your email in a different application and only want to receive encrypted email when your contact insists on it.
            </p>
          </label>
        </div>
        <%= f.submit 'Save Settings' %>
      <%- end %>
    </div>
  </div>
<%- end %>
</div>

<%- if @autocrypt.initialized? %>
  <br/>
  <button class="btn btn-secondary debug" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Show Autocrypt Status
  </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-block">
      <pre>
<%= @autocrypt.status %>
      </pre>
    </div>
  </div>
<%- end %>
