<p id="notice"><%= notice %></p>
<h2>Inbox</h2>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>From</th>
      <th>Subject</th>
      <th>Sent</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @inbox.each do |email| %>
      <tr>
        <td><%= email.from.capitalize %></td>
        <td><%= link_to email.subject, [@user, email] %></td>
        <td><%= time_ago_in_words email.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Sent</h2>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>To</th>
      <th>Subject</th>
      <th>Sent</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sent.each do |email| %>
      <tr>
        <td><%= email.to.capitalize %></td>
        <td><%= link_to email.subject, [@user, email] %></td>
        <td><%= time_ago_in_words email.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
