<%= "This email was encrypted" if @decrypted %>
<br/>
<div class="card">
  <div class="card-block">
    <h4 class="card-title">
      <%= @email.subject %>
    </h4>
    <h6 class="card-subtitle mb-2 text-muted">
      From:
      <%= link_to @email.from.capitalize, user_emails_path(@email.from) %>
      To:
      <%= link_to @email.to.capitalize, user_emails_path(@email.to) %>
    </h6>
    <div class="lead">
<%= simple_format(@decrypted || @email.body) %>
    </div>
    <%- if @email.from != @user.to_s.downcase %>
      <%= link_to 'Reply', new_user_email_path(@user, @reply_params) %>
    <%- end %>
  </div>
</div>

<br/>


<button class="btn btn-secondary debug" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Show Email Source
</button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-block">
    <pre>
<%= @email.source %>
    </pre>
  </div>
</div>

